<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.acuasoftsystemapp.dao.EjercicioMapper">
  <resultMap id="BaseResultMap" type="co.acuasoftsystemapp.model.Ejercicio">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nombre" jdbcType="VARCHAR" property="nombre" />
    <result column="creado" jdbcType="TIMESTAMP" property="creado" />
    <result column="puntuacion_maxima" jdbcType="INTEGER" property="puntuacionMaxima" />
  </resultMap>
</mapper>